
$black:                          #0C141F;
$cyan:                           #6FC3DF;
$orange:                         #DF740C;
$yellow:                         #FFE64D;

$color-1:                        $black;
$color-2:                        $orange;
$color-3:                        $cyan;
$color-6:                        $yellow;

$color-tbl-even:                 $black;
$color-tbl-thead:                $black;

@import url(https://fonts.googleapis.com/css?family=Orbitron);
$base-font-family: "Orbitron", sans-serif;
