<% content_for :footer do %>
     <link rel="stylesheet" href="/assets/footer.scc.scss">
<% end %>

<footer>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-3">
        <h5>Resources</h3>
          <ul class="list-unstyled" >
            <li><a href="#" class="footer-links">Contact</a></li>
            <li><a href="#" class="footer-links">Contact</a></li>
            <li><a href="#" class="footer-links">Contact</a></li>
            <li><a href="#" class="footer-links">Contact</a></li>

        </div>
        <div class="col-md-3">
        <h5>Resources</h3>
          <ul class="list-unstyled" >
            <li><a href="#" class="footer-links">Contact</a></li>
            <li><a href="#" class="footer-links">Contact</a></li>
            <li><a href="#" class="footer-links">Contact</a></li>
            <li><a href="#" class="footer-links">Contact</a></li>

        </div>
        <div class="col-md-3 ">
        <h5>Resources</h3>
          <ul class="list-unstyled" >
            <li><a href="#" class="footer-links">Contact</a></li>
            <li><a href="#" class="footer-links">Contact</a></li>
            <li><a href="#" class="footer-links">Contact</a></li>
            <li><a href="#" class="footer-links">Contact</a></li>

        </div>
        <div class="col-md-3 ">
        <h5>Resources</h3>
          <ul class="list-unstyled" >
            <li><a href="#" class="footer-links">Contact</a></li>
            <li><a href="#" class="footer-links">Contact</a></li>
            <li><a href="#" class="footer-links">Contact</a></li>
            <li><a href="#" class="footer-links">Contact</a></li>
        </div>
      </div>
    </div>
    <div class="footer-opacity">
      <div class="with-love">Made by Milenko with ♥</div>
    </div>
  </div>
</footer>




<style>

footer {
  background-color: LightGrey;
  color: black;

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}


.footer-links{
  color: black;
}

.footer-opacity {
  text-align: center;
}

.with-love {
  color: black;
  background-color: Darkgrey;
}

</style>
